# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# data is too large and do not push to github
/tmp/data/

# compile file
/out

#Alibaba DRUID
/src/com/alibaba

# data
/out.
#
*.xml

/target